*{
box-sizing:border-box;
}

body{

margin:0;
padding:20px;

background:#0d1117;
color:#e6edf3;

font-family:monospace;

display:flex;
justify-content:center;

}

.container{

width:100%;
max-width:800px;

margin-top:40px;

}

h1{

text-align:center;
color:#58a6ff;

}

.controls{

display:flex;
gap:10px;

flex-wrap:wrap;

margin-top:20px;

}

select{

padding:10px;
font-size:16px;

background:#161b22;
color:white;

border:1px solid #30363d;

}

button{

padding:10px 16px;

background:#238636;
color:white;

border:none;

cursor:pointer;

font-size:16px;

border-radius:6px;

}

button:hover{

background:#2ea043;

}

.questionBox{

margin-top:25px;

background:#161b22;

padding:25px;

border-radius:10px;

border:1px solid #30363d;

}

.solutionArea{

margin-top:20px;

}

pre{

background:#010409;

padding:20px;

margin-top:10px;

border-radius:8px;

overflow-x:auto;

color:#58a6ff;

}

/* Mobile */

@media(max-width:600px){

.controls{

flex-direction:column;

}

select,button{

width:100%;

}

h1{

font-size:22px;

}

}
