body{

background:#0d1117;
color:white;

font-family:monospace;

display:flex;
justify-content:center;

}

.container{

width:700px;
margin-top:40px;

}

select{

padding:10px;
margin-right:10px;

}

button{

padding:10px;
background:#238636;
color:white;

border:none;
cursor:pointer;

}

.questionBox{

margin-top:20px;

background:#161b22;
padding:20px;

}

pre{

background:black;
padding:15px;
margin-top:10px;

}
